# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
.docker/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl
terraform.tfplan
crash.log
